<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VeilingVerkocht</display-name>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>veiling.servlets.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistratieServlet</display-name>
    <servlet-name>RegistratieServlet</servlet-name>
    <servlet-class>veiling.servlets.RegistratieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistratieServlet</servlet-name>
    <url-pattern>/RegistratieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>veiling.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>veiling.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RubriekServlet</display-name>
    <servlet-name>RubriekServlet</servlet-name>
    <servlet-class>veiling.servlets.RubriekServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RubriekServlet</servlet-name>
    <url-pattern>/RubriekServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtikelServlet</display-name>
    <servlet-name>ArtikelServlet</servlet-name>
    <servlet-class>veiling.servlets.ArtikelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtikelServlet</servlet-name>
    <url-pattern>/ArtikelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AanbodServlet</display-name>
    <servlet-name>AanbodServlet</servlet-name>
    <servlet-class>veiling.servlets.AanbodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AanbodServlet</servlet-name>
    <url-pattern>/AanbodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiedServlet</display-name>
    <servlet-name>BiedServlet</servlet-name>
    <servlet-class>veiling.servlets.BiedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiedServlet</servlet-name>
    <url-pattern>/BiedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinancieelServlet</display-name>
    <servlet-name>FinancieelServlet</servlet-name>
    <servlet-class>veiling.servlets.FinancieelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinancieelServlet</servlet-name>
    <url-pattern>/FinancieelServlet</url-pattern>
  </servlet-mapping>
</web-app>